[submodule "rtems-lwip"]
	path = rtems-lwip
	url = https://github.com/RTEMS/rtems-lwip.git
[submodule "rtems-lwip/rtems_waf"]
	path = rtems-lwip/rtems_waf
	url = https://gitlab.rtems.org/rtems/tools/rtems_waf.git
